/*--------- CSS Reset ------*/

*{
  padding:0;
  margin:0;
  font-size: 100%;
  line-height: 1em;
}

/*--------- MAIN STYLYLING ----------*/
body {
  width:80%;
  max-width: 700px;
  margin: auto;
  background: #fafafa;
  color: #333;
  font-family: 'Libre Baskerville', serif;
}

/*-------- TYPOGRAPHY -----------*/

section, header, footer {}

h1, h2, h3 {
  font-weight: normal;
  color: #8F0040;
  text-align: center;
}

p, cite {font-family: 'Roboto', sans-serif;}
p, blockquote {
  margin-bottom: 1.53em;
  line-height: 1.4;
}

h1 {font-size: 2.827em;
    margin-top: 2em;
    margin-bottom: 0.1em;
}

h2 {font-size: 1.999em;
margin: 3em 0 1em 0}

h3 {font-size: 1.414em;
margin-bottom: 1.5em;}


blockquote {
  font-size: 1.414em;
  hanging-punctuation: first;
  text-indent: -0.44em;
  color: #8F0040
}

blockquotes cite{
  font-size: 0.75em;
  color; #333}

header h3 {font-style: italic;}

header p {font-size: 1.141em;}

.dark {background: #333;
color: white;
padding: 2em 0}

/*--------------------- STYLING LINKS -----------------*/
a {
    color: #8F0040;
    text-decoration: none;
}

a:hover {
    color: #E9B6C9;
    border-bottom: 1px dotted;
}

/*------------------- NAVIGATION ------------------*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: #8F0040;
    padding: 1em 0;
    font-size: 0.75em;
    box-shadow: 0 0 10px 0 black;
}


nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li {
    display: inline;
    margin: 20px;
}

nav a:link {
    color: #fafafa;
}

nav a:visited {
    color: #fafafa;
}

nav a:hover {
    border-bottom: none;
    color: #26BED5;

}
/*-------------------TABLE STYLING----------------*/

table{
  margin: auto;
  display: table;
  border-collapse: collapse;
  border spacing: 2px;
  margin-bottom: 2em;
  width: 100%;
}

caption {
  margin-bottom: 1.5em;
  text-transform: uppercase;
}

th{
  color: #fafafa;
  text-transform:uppercase;
  font-weight: normal;
  text-align: left;
  background: #8F0040;
}

th, td{
  padding: .6em;
}

table, td{
  background:#FFB0B7;
  border: 1px solid #fafafa;
}
/*-------------------IMAGES------------------------*/

img{
  display: block;
  margin: 3em auto;
  padding: 0;
  max-width: 100%;

}
/*------------------- FOOTER ----------------------*/
  footer{
  text-align: center;
  font-size: 0.75em;
  padding: 2em 0 4em 0
  }
