/*--------- CSS Reset ------*/

*{
  padding:0;
  margin:0;
  font-size: 100%;
  line-height: 1em;
}

/*--------- MAIN STYLYLING ----------*/
body {
  width:80%;
  max-width: 700px;
  margin: auto;
  background: #fafafa;
  color: #333;
  font-family: 'Libre Baskerville', serif;
}
/*-------- TYPOGRAPHY -----------*/

h1, h2, h3 {
  font-weight: normal;
  color: #8F0040;
  text-align: center;
}

p, cite {font-family: 'Open Sans', sans-serif;}
p, blockquote {
  margin-bottom: 1.53em;
  line-height: 1.4;
}

h1 {font-size: 2.827em;
    margin-top: 2em;
    margin-bottom: 0.1em;
}

h2 {font-size: 1.999em;
margin: 3em 0 1em 0}

h3 {font-size: 1.414em;
margin-bottom: 1.5em;}


blockquote {
  font-size: 1.414em;
  hanging-punctuation: first;
  text-indent: -0.44em;
  color: #8F0040
}

blockquotes cite{
  font-size: 0.75em;
  color; #333}

header h3 {font-style: italic;}

header p {font-size: 1.141em;}

/*-------------STYLING lINKS------------*/
a{
color: #8F0040;
text-decoration: none;
}

a:hover {
  color: #26BED5;
  border-bottom: 1px solid;
}

/*-----------------NAVIGATION--------------------*/
nav{
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  background-color: #8F0040;
  padding: 1em 0;
  font-size: 0.75em;

}

nav ul{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav ul li{
  display: inline;
  margin: 20px;
}

nav a:link {
  color: #fafafa;
}

nav a:visited {
  color: #fafafa;
}

nav a:hover {
  border-bottom: none;
  color:#26BED5;
}

.baskerville {
  background: #333
  color: #fafafa
  padding: 2em 0;
}

/*------------------- FOOTER ----------------------*/
  footer{
  text-align: center;
  font-size: 0.75em;
  padding: 2em 0 4em 0
  }
